h1,
h3,
h4,
li,
p,
strong {
  color: white;
}

h3 {
  border-bottom: 1px solid chartreuse;
}

.tela-principal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 900px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.historico-container {
  display: flex;
  max-width: 800px;
}

.link-todo-container {
  color: white;
}
